<!-- # BEGIN Arriendo Facil (security hardening) -->
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<fileExtensions>
					<add fileExtension=".log" allowed="false" />
					<add fileExtension=".af-backup" allowed="false" />
				</fileExtensions>
				<hiddenSegments>
					<add segment="debug.log" />
				</hiddenSegments>
			</requestFiltering>
			<authorization>
				<deny users="*" />
			</authorization>
		</security>
	</system.webServer>
</configuration>
<!-- # END Arriendo Facil (security hardening) -->
